@model IEnumerable<MVC_With_DB.Models.Blog>

<div class="blog-container">
    <h2>Blog Posts</h2>

    <div class="row">
        @foreach (var item in Model)
        {
                @*<div class="container mt-4">
                    <div class="card">
                        <!-- Image -->
                        <img src="~/@item.Image" class="card-img-top w-50" alt="Blog Image">

                        <div class="card-body">
                            <!-- Title -->
                            <h5 class="card-title">Title :@item.Title</h5>

                            <!-- Subheading -->
                            <h6 class="card-subtitle mb-2 text-muted">Subtitle :@item.Subheading</h6>

                            <!-- Content -->
                            <p class="card-text">Content :@item.Content</p>
                        <p class="card-text">Description :@item.Description</p>

                            <!-- Read More Button -->
                            <div>
                                <a class="btn btn-outline-primary" asp-route-id="@item.Id" asp-action="editBlog">Edit</a>
                                <a class="btn btn-outline-danger" asp-route-id="@item.Id" asp-action="deleteBlog">Delete</a>
                            </div>
                        <p class="card-text text-muted float-right">Wrote by :@item.Author</p>

                        </div>
                    </div>
                </div>
*@

            <div class=" w-full bg-white shadow-lg rounded-md p-6">
                <!-- Blog Image -->
                <img src="~/@item.Image" alt="Blog Image" class="mb-4 rounded-md w-25">

                <!-- Author and Description -->
                <div class="mb-4">
                    <p class="text-gray-500 text-sm">By <span class="font-semibold"> @item.Author </span></p>
                    @*<p class="text-gray-700 text-md">@item.Description</p>*@
                </div>

                <!-- Subheading and Title -->
                <div class="mb-4">
                    @*<h4 class="text-gray-600 text-md">@item.Subheading</h4>*@
                    <h2 class="text-2xl font-semibold">@item.Title</h2>
                </div>

              

                <!-- Read More Button -->
                <div class="mt-4">
                    <a class="text-blue-500 hover:underline" asp-controller="Blogs" asp-route-id="@item.Id" asp-action="detailBlog">Read more</a>
                </div>
            </div>
        }
    </div>

</div>