@model IEnumerable<MVC_With_DB.Models.Blog>

<div class="blog-container">
    <h2>Blog Posts</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    

                    <div class="card-body">
                        <h5 class="card-title">Title : <span class="text-muted">@item.Title</span></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Author : @item.Author</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Subheading : @item.Subheading</h6>
                        <p class="card-text">Description : @item.Description</p>
                        <p class="card-text">Content : @item.Content</p>
                    </div>

                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-primary" asp-route-id="@item.Id" asp-action="editBlog">Edit</a>
                    <a class="btn btn-outline-danger" asp-route-id="@item.Id" asp-action="deleteBlog">Delete</a>
                </div>
         </div>

        }
    </div>

</div>