@model IEnumerable<MVC_With_DB.Models.Blog>

<div class="blog-container">
    <h2>Blog Posts</h2>

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="container1">
                <img src="~/@item.Image" alt="" class="image" />

                <h1 class="heading1">@item.Title</h1>
                <h1 class="heading1">@item.Subheading</h1>
                <h1 class="heading1">@item.Content</h1>
                <h1 class="heading1">@item.Author</h1>
                <h1 class="heading1">@item.Description</h1>
                
                <p class="para1">
                    Hiran Minar is an early 16th-century Mughal era complex located in
                    Sheikhupura, in the Pakistani province of Punjab.
                </p>

                <div>
                    <a class="btn btn-outline-primary" asp-route-id="@item.Id" asp-action="editBlog">Edit</a>
                    <a class="btn btn-outline-danger" asp-route-id="@item.Id" asp-action="deleteBlog">Delete</a>
                </div>
            </div>


        }
    </div>

</div>